@using System.Web.Optimization
@using Docller
@model Docller.Models.UserDetailsViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<div class="container">
    <p class="message-success">
        @Scripts.Render(ScriptBundles.ValidationBundle)
        @ViewBag.Message
    </p>
    <div class="dc-accountBox">
        @Html.ValidationSummary(true, "Forgot password recovery was unsuccessful. Please correct the errors and try again.")
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Forgot Password Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName, "E-mail Address")
                        @Html.TextBoxFor(m => m.UserName)
                        <br />
                        @Html.ValidationMessageFor(m => m.UserName, "Please provide a valid email", new { @class = "label label-important dc-whitecolor" })
                    </li>
                    <li>
                        <div>
                            <input type="submit" value="Reset Password" title="Reset Password" class="btn btn-small btn-primary" />
                        </div>
                    </li>
                    <li>
                        @Html.ActionLink("Login", "LogOn", "Account")
                    </li>
                </ol>
            </fieldset>
        }
    </div>
</div>
